<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDescription</key>
	<string>Mac Data Recovery Guru is the most modern, the most technologically advanced, and the easiest to use mac data recovery software available. http://macosxfilerecovery.com/datarecoveryproducts/data-recovery-guru/ (DEMO)</string>
	<key>IFPkgDescriptionTitle</key>
	<string>Mac Data Recovery Guru</string>
</dict>
</plist>
