<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDescription</key>
    <string>Wouldn't it be great if Mac OS X's Quick Look would let you inspect the contents of compressed archives? With the help of the BetterZip Quick Look Generator, it can. 
The currently supported archive formats are: ZIP, TAR, GZip, BZip2, ARJ, LZH, ISO, CHM, CAB, CPIO, RAR, 7-Zip, DEB, RPM, StuffIt's SIT, DiskDoubler, BinHex, and MacBinary. 
</string>
	<key>IFPkgDescriptionTitle</key>
	<string>BetterZipQL</string>
</dict>
</plist>
