<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDescription</key>
	<string>• Observes filesystem changes using the same underlying API as Spotlight
• Provides a graphical representation of the file activity
• Example use could be to determine what files are changed via software installation, preferences, etc
• Requires admin access &amp; will only work on Mac OS X 10.4+ i.e. “Tiger”, “Leopard”, or “Snow Leopard”</string>
	<key>IFPkgDescriptionTitle</key>
	<string>fseventer</string>
</dict>
</plist>
